body {
background:linear-gradient(#111 0%, #112 100%);
min-height:85vh;
padding:4%;
color:#5f7;
}

h1 {
color:#111;
font-size:7vw;
font-weight:900;
}

header {
background:#ddd;
}

img {
border:20px solid #5f7;
border-radius:70%;
}